@use 'sass:map';

@function config($keys...) {
  $value: map.get($configs, $keys...);
  @return $value;
}

@function token($keys...) {
  $value: map.get($tokens, $keys...);
  @return $value;
}

@function slot($keys...) {
  $value: map.get($slots, $keys...);
  @return $value;
}
