@use "sass:meta";
@use 'sass:map';
@use 'sass:string';

@function map-sort-by-values($map) {
  // Transform map to zipped list
  $keys: ();
  $values: ();

  @each $key, $val in $map {
    $keys: append($keys, $key);
    $values: append($values, $val);
  }

  $list: zip($keys, $values);

  $sortedMap: ();
  @while length($list) > 0 {

    // Find smallest pair
    $smallestPair: nth($list, 1);
    @each $pair in $list {
      $value: nth($pair, 2);
      $smallestValue: nth($smallestPair, 2);
      @if $value < $smallestValue {
        $smallestPair: $pair;
      }
    }

    // Add smallest pair to sorted map
    $key: nth($smallestPair, 1);
    $value: nth($smallestPair, 2);
    $sortedMap: map-merge($sortedMap, ($key: $value));

    // Remove from list smallest pair
    $smallestPairIndex: index($list, $smallestPair);
    $newList: ();
    @for $i from 1 through length($list) {
      @if $i != $smallestPairIndex {
        $newList: append($newList, nth($list, $i), "space");
      }
    }
    $list: $newList;
  }

  @return $sortedMap;
}

@function map-get-plain($map, $keys...) {
  $value: map.get($map, $keys...);
  @return safe-unquote($value);
}

// Config
@function config($keys...) {
  $value: map.get($configs, $keys...);
  @return $value;
}

// Tokens
@function token($keys...) {
  $value: map.get($tokens, $keys...);
  @return $value;
}

@function color($keys...) {
  $color-found: false;
  $stringKeys: ();

  @for $i from 1 through length($keys) {
    $key: nth($keys, $i);
    $stringKeys: append($stringKeys, string.quote(to-lower-case(#{$key})));
  }

  $color: token(color, $stringKeys...);

  @if (type-of($color) == 'map') {
    $keys-list: map.keys($color);

    @each $key in $keys-list {
      @if (string.index($key, '*')) {
        $color-found: true;
        $color: map.get($color, $key);
      }
    }

    @if (not $color-found) {
      @error 'There is no main color defined. Use named key to access the color. Available keys: #{$keys-list}';
    }
  } @else if (type-of($color) == 'color') {
    $color-found: true;
  }

  @if (not $color-found) {
    @error 'Color not found. Check if #{$keys} exist in tokens.'
  }

  @return $color;
}

@function breakpoint($keys...) {
  $value: token(breakpoints, $keys...);
  @return $value;
}

@function sortedBreakpoints() {
  @return map-sort-by-values(map.merge(token(breakpoints), ('default': 0)));
}

// Slots
@function slot($keys...) {
  $value: map.get($slots, $keys...);
  @return $value;
}

@function color-slot($keys...) {
  $value: slot(color, $keys...);

  @if type-of($value) == 'map' { 
    @error 'Looks like this slot goes deeper, please extend your slot arguments. Available keys: #{map.keys($value)}.'; 
  }

  @if $value == null { 
    @error 'There is no slot defined for color > #{$keys}'; 
  }

  @return color($value...);
}

@mixin grid-slot($name) {
  $value: slot(grid, $name);

  @if $value == null { 
    @error 'There is no slot defined for grid > #{$name}'; 
  }

  grid-column: unquote($value);
}

@mixin responsive-grid-slot($attr, $keys...) {
  $map: slot(grid, $keys...);
  $check: false;

  @if (type-of($map) == 'map') {
    @each $screen, $value in sortedBreakpoints() {
      $stepSize: map.get($map, $screen);

      @if ($stepSize != null) {
        $check: true;

        @include screen($screen) {
          #{$attr}: unquote($stepSize);
        }
      }
    }

    @if (not $check) {
      @error 'No breakpoints found. You need to select a key that returns a map containing one of following keys: #{map.keys(sortedBreakpoints())}';
    }

  } @else {
    @error 'No map found. Instead had: Type <#{type-of($map)}>: #{$map}';
  }
}
