@mixin grid($name: main) {
  $grid-columns: token(grid, $name, count);
  $grid-gap: rem(token(grid, $name, gutterSize));
  $grid-free-space: minmax(0, calc((100vw - token(sizes, grid, $name, width) - 2 * $grid-gap) / 2));

  display: grid;
  grid-template-columns: 
    #{$grid-free-space}
    repeat(token(grid, $name, count), 1fr)
    #{$grid-free-space};

  column-gap: $grid-gap;

  width: 100%;
  height: auto;
}

