// Colors

.monolith {
  &__colors {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    &-item {
      display: none;
      
      position: relative;
      
      margin: var(--space);
    
      width: calc(20% - var(--space) * 2);
      min-width: 8rem;
      height: auto;

      box-shadow: 0 0 0 1px var(--color-dark);
      
      &::before {
        display: block;
        padding-top: 100%;
        content: '';
      }
      
      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        
        transform: translate(-50%, 50%);
        
        padding: .25rem .5rem;
        
        min-width: 80%;
        max-width: calc(100% + var(--space));
        
        // background: var(--color-dark);
        
        font-size: .75rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        word-break: normal;
        color: var(--color-dark);
        
        content: 'Label'
      }

      @each $name, $color in $config-colors {
        $i: index(($config-colors), ($name $color)) + 1;
        &:nth-child(#{$i}) {
          display: block;
          
          background: var(--config-color-#{$name}); 
    
          &::after {
            content: '#{$name}: #{$color}';
          }
        }
      }
    }
  }
}
