.monolith {
  &__layout {
    &-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      min-height: 5rem;

      background: var(--color-dark);
      box-shadow: var(--shadow-1);

      font-size: rem(12);
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color: var(--color-light);
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
