// @use 'sass:map';

$slots: (
  color: (
    page: (
      background: white,
      text: black
    ),
    typography: (
      h1: dark-green,
      h2: green
    ),
    component: (
      cta: (
        background: dark-green
      )
    )
  ),
  grid: (
    full: '1 / -1',
    wide: '2 / -2',
    component: '2 / -3',
    text: '3 / span 2'
  ),
  // breakpoints: () // this should be where new BPs are generated
);

// $slots: map.set($slots, breakpoints, map.merge(token(breakpoints), config(layout, customBreakpoints)));

