// Color
//
// Provides a map of colors for the project.
// Names of colors should be descriptive, not functional.
//
// example:
// 'name' : 'color'
//
$config-colors: (
  'gold': hsla(42,100%,46%,1),
  'indigo': rgb(0, 73, 102),
  'ink-black': #0b131e,
  'white': #fff,
  'black': hsl(0,0%,0%,1)
);

// Layout
//
// Configuration for the grid system, layout sizing, spacings and breakpoints.
//
$config-layout: (
  // Grid
  // gap: dimension
  // max-width: dimension
  // columns: number
  // slots: map of maps
  // - name: string
  // - start: number
  // - end: number
  'grid': ( 
    'gap': 1rem,
    'max-width': 100vw,
    'columns': 9,
    'slots': ( 
      (
        'name': 'outer',
        'start': 1,
        'end': 10
      ),
      (
        'name': 'content-wide',
        'start': 3,
        'end': 7
      ),
      (
        'name': 'content',
        'start': 4,
        'end': 6
      )
    )
  )
);

:root {
  // Grid
  --grid-width: 100vw;
  --grid-columns: 9;
  --grid-gap: 1rem;
  --grid-outer-width: 1000px;

  --gap: 1rem;
}

@each $name, $value in $config-colors {
  $h: hue($value);
  $s: saturation($value);
  $l: lightness($value);
  $a: alpha($value);

  :root {
    --config-color-#{$name}: hsla(#{$h, $s, $l, $a});
  }
}

$config-typography: (
  // Typography settings
  'settings': (
    'font-family': (
      'primary': 'mono',
      'secondary': 'sans-serif'
    ),
    'base-size': 16px,
    'fluid-font': (
      'max-screen': 1280px,
      'min-screen': 800px
    )
  ),

  'tags': (
    'h1': (
      'selector': h1,
      'font-family': 'var(--font-family-secondary)',
      'font-size': 7rem,
      'font-size-fluid': (
        // 'min': 4.5rem,
        // 'max': 7rem,
        'min': (
          'size': 100px,
          'screen': 300px
        ),
        'max': (
          'size': 300px,
          'screen': 1000px
        )
      ),
      'weight': 600,
      'line-height': 2,
      'text-transform': none,
      'text-decoration': none,
      'color': 'var(--color-accent)'
    ),

    'h2': (
      'selector': h2,
      'font-family': 'var(--font-family-secondary)',
      'font-size-fluid': (
        'min': 3.5rem,
        'max': 5rem,
      ),
      'font-weight': 500,
      'line-height': 1.5,
      'text-transform': none,
      'text-decoration': none,
      'color': 'var(--color-secondary)'
    ),

    'h3': (
      'selector': h3,
      'font-family': 'var(--font-family-primary)',
      'font-size-fluid': (
        'min': 3rem,
        'max': (
          'size': 4rem,
          'screen': 1000px
        ),
      ),
      'weight': 500,
      'line-height': 1.5,
      'text-transform': uppercase,
      'text-decoration': none,
      'color': 'var(--color-accent)',
    ),

    'intro': (
      'selector': '.intro',
      'font-family': 'var(--font-family-secondary)',
      'font-size-fluid': (
        'min': 1.5rem,
        'max': 2rem,
      ),
      'weight': 500,
      'line-height': 1.5,
      'text-transform': none,
      'text-decoration': none,
      'color': 'var(--color-accent)',
    ),

    'paragraph': (
      'selector': 'p',
      'font-family': 'var(--font-family-primary)',
      'font-size-fluid': (
        'min': 1rem,
        'max': 1.25rem,
      ),
      'weight': 300,
      'line-height': 1.25,
      'text-transform': none,
      'text-decoration': none,
      'color': 'var(--color-secondary)',
    )
  )
);

// %h1-custom-css { color: red; }

