$configs: (
  typography: (
    baseFontSize: 16, // This is used for px to rem calculations
    fontFallbacks: ( // for keys use fontFamily /quoted/ as defined in tokens.scss
      'aaa': 'Times New Roman, serif',
      'Neue Haas Grotesk Text Pro': 'Roboto, Ubuntu, sans-serif',
    ),

    // Fluid typography config
    //
    // Used to apply fluid typography to font styles
    fluid: ( 
      // Default range
      //
      // Defines start and end breakpoints for fluid typography
      // Value should be a valid breakpoint key
      range: ( 
        start: mobile,
        end: desktop,
      ),
      // Default styles
      //
      // Defines start and end styles for fluid typography
      // Value should be a valid font style key
      styles: (
        start: default,
        end: desktop
      ),
      // Apply fluid typography to font styles
      //
      // Key: should be a quoted string of valid font style name
      // Value: boolean | map
      tags: (
        // Activates fluid typography using default values
        'heading 2xl': true,
        'heading xl': true
      )
    ),
  ),
  layout: (
    customBreakpoints: (
      custom: 2000px
    ),
  )
);

