@import './tokens.scss';
@import './mono';

.content {
  margin: 3rem auto;
  padding: 3rem;

  width: 100%;
  max-width: 1200px;

  border: 2px solid grey;

  h1 { 
    @include typography(header-1); 
    color: color(green);
  }

  h2 { @include typography(header-2); }

  h3 {
    @include typography(header-3); 
    @include responsive-size('margin-bottom', component);
    @include responsive-size('padding', component);
    @include responsive-border-radius(default);

    background-color: color(green);
  }

  h4 { @include typography(header-4); }

  p {
    &.small {}
    &.intro {}
  }
}

.layout__grid {
  @include grid;

  height: 500px;
  background-color: pink;
}

.layout__grid-alt {
  @include grid(alt);

  height: 500px;
  background-color: yellow;
}

.layout__item-outer {
  @include grid-slot(wide);

  height: 100px;
  background-color: lime;
}

.layout__item-inner {
  @include grid-slot(component);

  height: 100px;
  background-color: blue;
}

.layout__item-content {
  @include grid-slot(text);

  height: 100px;
  background-color: red;
}

// --------------------------------------------


.cta {
 @include grid;

 &__body {
  @include grid-slot(component);

  background-color: color-slot(component, cta, background);

  @include responsive-size('margin-bottom', component);
  @include responsive-border-radius('button');
 }
}
