:root {
  // Color
  --color-primary: var(--color-teal);
  --color-secondary: var(--color-pink-ish);
  --color-light: var(--color-white);
  --color-dark: var(--color-black);

  // Shadow
  // --shadow-level-0: #{0 0 0.5rem 0 fade-out(color(black), 0.7)};
  // --shadow-level-1: #{0 0 1rem 0 fade-out(color(black), 0.5)};
  // --shadow-level-2: #{0 0 3rem 0 fade-out(color(black), 0.7)};

    // Spacings
  --space: 1rem;

  // Breakpoints
  --bp-tiny: 350px;
  --bp-small: 500px;
  --bp-medium: 768px;
  --bp-large: 1024px;
  --bp-xlarge: 1200px;
  --bp-huge: 1400px;
}

