@mixin grid($name: main) {
  $grid-columns: token(grid, $name, count);
  $grid-gap: rem(token(grid, $name, gutterSize));
  $grid-free-space: minmax(0, calc((100vw - token(sizes, grid, $name, width) - ($grid-gap * 2)) / 2));

  display: grid;
  grid-template-columns: 
    #{$grid-free-space}
    repeat(token(grid, $name, count), 1fr)
    #{$grid-free-space};

  column-gap: $grid-gap;

  width: 100%;
  height: auto;
}

@mixin grid-slot($name) {
  grid-column: unquote(slot(grid, $name));
}

.layout__grid {
  @include grid;

  height: 500px;
  background-color: pink;
}

.layout__grid-alt {
  @include grid(alt);

  height: 500px;
  background-color: yellow;
}

.layout__item-outer {
  @include grid-slot(wide);

  height: 100px;
  background-color: lime;
}

.layout__item-inner {
  @include grid-slot(component);

  height: 100px;
  background-color: blue;
}

.layout__item-content {
  @include grid-slot(text);

  height: 100px;
  background-color: red;
}


