%layout-grid {
  --grid-free-space: minmax(0, calc((var(--grid-width) - var(--grid-outer-width) - var(--grid-gap) * 2 ) / 2)); 

  display: grid;
  grid-template-columns: 
    var(--grid-free-space)
    repeat(var(--grid-columns), 1fr)
    var(--grid-free-space);
  grid-gap: var(--grid-gap);

  margin: 0 auto;

  width: var(--grid-width);
  height: auto;
}

.layout__grid {
  @extend %layout-grid;

  padding: 5rem 0;
}

.layout__item-outer {
  grid-column: 2 / calc(var(--grid-columns) + 2);
}

.layout__item-inner {
  grid-column: 3 / calc(var(--grid-columns) + 1);
}

.layout__item-content {
  grid-column: 4 / calc(var(--grid-columns));
}
