$slots: (
  color: (
    page: (
      background: color(white),
      text: color(black)
    ),
    typography: (
      h1: color(dark-green),
      h2: color(green)
    )
  ),
  grid: (
    full: '1 / -1',
    wide: '2 / -2',
    component: '3 / -3',
    text: '3 / span 4'
  )
);
