@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

@function safe-unquote($value) {
  @if (type-of($value) == string) {
    @return string.unquote($value);
  } @else {
    @return $value;
  }
}

@function map-get-plain($map, $keys...) {
  $value: map.get($map, $keys...);

  @return safe-unquote($value);
}

// calculations stonen from here: https://github.com/royalfig/fluid-typography-calculator/blob/master/index.js
// numbers generated are ugly, should be rounded to float 2
@each $name, $config in map-get($config-typography, 'tags') {
  $baseFontSize: map-get-plain($config, 'font-size');
  $maxScreen: rem(map-get-plain($config, "font-size-fluid", "max", "screen") or map-get($config-typography, 'settings', 'fluid-font', 'max-screen'));
  $minScreen: rem(map-get-plain($config, "font-size-fluid", "min", "screen") or map-get($config-typography, 'settings', 'fluid-font', 'min-screen'));
  $maxFont: rem(map-get-plain($config, "font-size-fluid", "max", "size") or map-get-plain($config, "font-size-fluid", "max"));
  $minFont: rem(map-get-plain($config, "font-size-fluid", "min", "size") or map-get-plain($config, "font-size-fluid", "min"));

  $factor: (math.div(1, ($maxScreen - $minScreen)) * ($maxFont - $minFont));

  $rem: $minFont - $minScreen * $factor;
  $vw: (100 * $factor) * 1vw;

@debug '----- typography.scss : loop';
@debug map-get-plain($config, 'selector');
@debug 'factor: ', $factor;
@debug 'rem: ', $rem;
@debug 'vw: ', $vw;
@debug clamp($minFont, calc($vw + $rem), $maxFont);

  %#{$name},
  #{map-get($config, 'selector')} {
    font-family: map-get-plain($config, 'font-family');

    @if ($baseFontSize) {
      font-size: rem($baseFontSize);
    } @else {
      font-size: $minFont;
    }

    font-size: clamp($minFont, calc($vw + $rem), $maxFont);
    line-height: map-get-plain($config, "line-height");
    font-weight: map-get-plain($config, "font-weight");
    color: map-get-plain($config, "color");
    text-transform: map-get-plain($config, "text-transform");
    text-decoration: map-get-plain($config, "text-decoration");

    @extend %#{$name}-custom-css !optional
  }
}

